.DS_Store
Thumbs.db
Desktop.ini
node_modules/
bower_components/
.svn/
.sass-cache/
.nodejs-cache/
dist/
npm-debug.log*
yarn-debug.log*
package-lock.json
yarn-lock.json
yarn-error.log*

# Editor directories and files
.idea
.vscode
.project
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
