html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* 表单元素可以wrap一个<form>标签，在form里统一调整 */

button,
input,
select,
textarea {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

form {
    line-height: 1.5;
}


/* iOS输入框重置 */

input[type='text'],
input[type='password'],
input[type='reset'],
input[type='submit'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='url'],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

img {
    display: block;
}

input,
img {
    border: none;
}

li {
    list-style: none;
}